<a routerLink="/user" class="btn btn-primary">Retour</a>
<form [formGroup]="form">
  <h1>Modifier le user suivant : </h1>

  <mat-form-field appearance="outline" >
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username">
    @if (form.get('username')?.hasError('required')) {
      <mat-error>Username is required</mat-error>
    }
  </mat-form-field>


  <mat-form-field appearance="outline" >
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email">
    @if (form.get('email')?.hasError('required')) {
      <mat-error>Email is required</mat-error>
    }
  </mat-form-field>


  <mat-form-field appearance="outline" >
    <mat-label>Password</mat-label>
    <input matInput type="text" formControlName="password">
    @if (form.get('password')?.hasError('required')) {
      <mat-error>Password is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <mat-label>Quotientfamilial</mat-label>
    <input matInput type="text" formControlName="quotientfamilial">
    @if (form.get('quotientfamilial')?.hasError('required')) {
      <mat-error>Quotientfamilial is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <mat-label>Salaire</mat-label>
    <input matInput type="text" formControlName="salaire">
    @if (form.get('salaire')?.hasError('required')) {
      <mat-error>Salaire is required</mat-error>
    }
  </mat-form-field>



  <button mat-stroked-button (click)="submit()" [disabled]="form.invalid">Modifier</button>
</form>
